#container {
  height: 300px;
  width: 450px;
  background-color: aliceblue;
  position: relative;
}
.box1 {
  background-color: red;
  height: 75px;
}
.box2 {
  background-color: blue;
  height: 150px;
  top: 75px;
}
.box3 {
  background-color: red;
  height: 75px;
  bottom: 0px;
}

.box {
  position: absolute;
  width: 450px;
}
.circle {
  height: 75px;
  width: 75px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 112.5px;
  left: 187.5px;
}
